body {
    padding-top: 3.5rem !important;
}

.set-background {
    background-color: #ccc;
}

h1 {
    padding: 20px 0;
    background-color: #1662d4 !important;
    color: #fff;
}

label {
    color: #1662d4;
    font-size: 18px !important;
}

.btn-custom-auth {
    background-color: #1662d4 !important;
  }
  
.btn-custom-auth:hover {
    background-color: #1662d4 !important;
}

img.img-thumbnail {
    width: 230px !important;
    height: 270px !important;
}